streamlit

# Utilities

numpy
pandas

# Face Recognition

scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database

supabase
bcrypt


# Qrcode
segno
# image resize transform like that
pillow

# frontend

#voice pipelines
librosa
resemblyzer
